build/
*#*
*~*
.vscode
.vs
/.cache
/compile_commands.json
/cmake-build-debug-visual-studio
/.idea
/packman-repo
/release_symbols
/Lowder/CrashReporter.local.cmake
/LowCrashOpener/LowCrashOpener.config.ps1
/misteda
LowScriptingApi/bin
LowScriptingApi/obj
.rgignore
.clangflags
misteda-crash-reporter
