[submodule "LowDependencies/EASTL"]
	path = LowDependencies/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "LowDependencies/glm"]
	path = LowDependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "LowDependencies/yaml-cpp"]
	path = LowDependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "LowDependencies/glfw"]
	path = LowDependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "LowDependencies/gli"]
	path = LowDependencies/gli
	url = https://github.com/g-truc/gli.git
[submodule "LowDependencies/stb"]
	path = LowDependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "LowDependencies/VulkanMemoryAllocator"]
	path = LowDependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "LowDependencies/tlsf"]
	path = LowDependencies/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "LowDependencies/microprofile"]
	path = LowDependencies/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "LowDependencies/assimp"]
	path = LowDependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "LowDependencies/imgui"]
	path = LowDependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "LowDependencies/IconFontCppHeaders"]
	path = LowDependencies/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "LowDependencies/ImGuizmo"]
	path = LowDependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "LowDependencies/nativefiledialog"]
	path = LowDependencies/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "LowDependencies/node-editor"]
	path = LowDependencies/node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
	branch = develop
[submodule "LowDependencies/recastnavigation"]
	path = LowDependencies/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "LowDependencies/nvidia-physx"]
	path = LowDependencies/nvidia-physx
	url = https://github.com/Zeblote/PhysX.git
[submodule "LowDependencies/mono"]
	path = LowDependencies/mono
	url = https://github.com/mono/mono
