build/
build-clang/
.nvim/
.nvim.lua
*#*
*~*
.vscode
.vs
/.cache
/compile_commands.json
/cmake-build-debug-visual-studio
/.idea
/packman-repo
/release_symbols
/Lowder/CrashReporter.local.cmake
/LowCrashOpener/LowCrashOpener.config.ps1
/misteda
LowScriptingApi/bin
LowScriptingApi/obj
LowDebugVisualizerExtension/bin
LowDebugVisualizerExtension/obj
LowDebugVisualizerExtension/*.vsix
LowDebugVisualizerExtension/*.vsdconfig
LowDebugVisualizerExtension/extension.vsixmanifest
LowDebugVisualizerExtension/merged.source.extension.vsixmanifest
.rgignore
.clangflags
misteda-crash-reporter
